/**
 * Global Sytles
 * ------------- */
#body {
	padding-top: 112px;
	position: relative;
	top: 100px;
}

#body div {
	text-align: center;
}

#body div .button {
 	background-color: #f5f5f5;
 	color: #666;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	height: 29px;
	margin: 11px 6px 11px 6px;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0 8px;
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
	margin-left
}

.link{
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.img-grid {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
}

/**
 * Header
 * ------------- */
 #header {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0px;
}

.header-link{
	color: #404040;
	font-family: arial;
}

.header-link:hover{
	color: black;
	text-decoration: underline;
}

.header-container a {
	display: inline-block;
}

.header-container {
	padding-top: 10px;
}

/**
 * Main Section
 * ------------- */
.sign-in {
	width: 60px;
	height: 24px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3279fd), to(#174cab));
    background: -webkit-linear-gradient(#3279fd, #174cab);
    background: -moz-linear-gradient(#3279fd, #174cab);
    background: -o-linear-gradient(#3279fd, #174cab);
    background: linear-gradient(#3279fd, #174cab);
	padding: 8px 5px 0px 5px;
	text-align: center;
	position: relative;
	color: white;
}

.search-bar{
	width: 527px;
	height: 27px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 17px;
	font-family: arial, sans-serif;
}

.img-google-logo {
	width: 269px;
	height: 95px;
}

/**
 * Footer
 * ------------- */
#footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px
}

.footer-link{
	color: #666;
	padding: 0px 27px 0px 27px;
	position: relative;
	bottom: -10px;
}

.footer-link:hover{
	text-decoration: underline;
}











